<?php
{{#models}}{{#model}}/**
 * {{classname}}
 */
namespace {{modelPackage}}\Generated;

/**
 * {{classname}}
 */
class {{classname}} {

    {{#vars}}
    /** @var {{{dataType}}} ${{name}} {{description}}*/
{{#deprecated}}
    /** @deprecated */
{{/deprecated}}
    protected ${{name}};

    {{/vars}}
    {{#vars}}
    public function get{{nameInCamelCase}}(){
        return $this->{{name}};
    }

    public function set{{nameInCamelCase}}($data){
        $this->{{name}} = $data;
    }

    {{/vars}}
}
{{/model}}{{/models}}