<?php
{{#models}}{{#model}}/**
 * {{classname}}
 */
namespace {{modelPackage}}\Generated;

/**
 * {{classname}}
 */
class {{classname}} {

    {{#vars}}
    /** @var {{{dataType}}} ${{name}} {{description}}*/
{{#deprecated}}
    /** @deprecated */
{{/deprecated}}
    public ${{name}};

    {{/vars}}
}
{{/model}}{{/models}}